<div class="flex flex-col p-14">
  <div class="flex mb-8">
    <div class="form-control w-full max-w-lg">
      <select
        class="select select-bordered"
        #filter
        (change)="filterDepartment(filter.value)">
        <option disabled selected>Select a department</option>
        <option value="">All</option>
        <option
          *ngFor="let department of departments$ | async"
          [value]="department.name">
          {{ department.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="flex gap-8 flex-wrap flex-row">
    <app-curriculum-card *ngFor="let curriculum of curriculums$ | async">
      <div class="flex flex-col w-full p-8 gap-2">
        <div class="flex flex-row">
          <div class="flex">
            <h1 class="text-2xl font-bold">
              {{ curriculum.title }}
            </h1>
          </div>
        </div>
        <div class="flex" *ngIf="curriculum.description">
          <p class="text-base">Description: {{ curriculum.description }}</p>
        </div>
        <div class="flex justify-center mt-auto">
          <button
            class="btn btn-accent rounded-2xl"
            (click)="onViewCurriculum(curriculum?.id ?? -1)">
            View Curriculum
          </button>
        </div>
      </div>
    </app-curriculum-card>
    <app-curriculum-card
      [cardMode]="'blueprint'"
      (buttonClick)="openCreateCurriculumModal()" />
  </div>
</div>

<!-- CREATE MODAL -->
<label
  for="my-modal-4"
  class="modal modal-bottom sm:modal-middle cursor-pointer"
  [ngClass]="{ 'modal-open': createCurriculumModalState }">
  <label class="modal-box relative" for="">
    <label
      for="my-modal-4"
      (click)="closeCreateCurriculumModal()"
      class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <div class="flex">
      <form
        [formGroup]="form"
        class="flex h-full w-full items-center justify-center">
        <div
          class="flex flex-col rrounded-lg p-20 items-center justify-center gap-8 bg-base-100">
          <h1 class="text-4xl font-bold mb-6">Create New Curriculum</h1>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Curriculum for</span>
            </label>
            <select
              class="select select-bordered"
              formControlName="department_id">
              <option disabled selected>Select a department</option>
              <option
                *ngFor="let department of departments$ | async"
                [value]="department.id">
                {{ department.name }}
              </option>
            </select>
          </div>
          <input
            type="text"
            formControlName="title"
            placeholder="Curriculum Title"
            class="input input-bordered input-neutral w-full max-w-xs" />
          <input
            type="text"
            formControlName="description"
            placeholder="Description"
            class="input input-bordered input-neutral w-full max-w-xs" />
          <button
            class="btn w-full max-w-xs"
            type="submit"
            (click)="onSubmitCreateCurriculum()">
            CREATE
          </button>
        </div>
      </form>
    </div>
  </label>
</label>
