<div class="flex flex-col p-14">
  <div class="flex mb-8">
    <div class="form-control w-full max-w-lg">
      <select class="select select-lg select-bordered">
        <option disabled selected>Select a department</option>
        <option
          *ngFor="let department of departments$ | async"
          [value]="department.id">
          {{ department.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="flex gap-8 flex-wrap flex-row">
    <app-curriculum-card>
      <div class="flex flex-col p-8 gap-2">
        <div class="flex flex-row">
          <div class="flex">
            <h1 class="text-2xl font-bold">
              Bachelor's of Science in Information Technology
            </h1>
          </div>
        </div>
        <div class="flex">
          <p class="text-base">Submitted By: Rosemarie M. Bautista, DIT</p>
        </div>
        <div class="flex">
          <p class="text-base">Submitted Date: April 17, 2023</p>
        </div>
        <div class="flex">
          <div class="text-base">
            Status:
            <div class="badge rounded-lg badge-lg badge-success">Approved</div>
          </div>
        </div>
        <div class="flex">
          <div class="text-base">
            <div class="badge rounded-lg badge-lg badge-warning">
              Comments: 32
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-auto">
          <button class="btn btn-primary rounded-2xl">View Curriculum</button>
        </div>
      </div>
    </app-curriculum-card>
    <app-curriculum-card>
      <div class="flex flex-col p-8 gap-2">
        <div class="flex">
          <h1 class="text-2xl font-bold">
            Bachelor's of Science in Information Technology
          </h1>
        </div>
        <div class="flex">
          <p class="text-base">Submitted By: Rosemarie M. Bautista, DIT</p>
        </div>
        <div class="flex">
          <p class="text-base">Submitted Date: April 17, 2023</p>
        </div>
        <div class="flex">
          <div class="text-base">
            Status:
            <div class="badge rounded-lg badge-lg badge-warning">
              Under Review
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="text-base">
            <div class="badge rounded-lg badge-lg badge-warning">
              Comments: 24
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-auto">
          <button class="btn btn-primary rounded-2xl">View Curriculum</button>
        </div>
      </div>
    </app-curriculum-card>
    <app-curriculum-card>
      <div class="flex flex-col p-8 gap-2">
        <div class="flex">
          <h1 class="text-2xl font-bold">
            Bachelor's of Science in Information Technology
          </h1>
        </div>
        <div class="flex">
          <p class="text-base">Submitted By: Rosemarie M. Bautista, DIT</p>
        </div>
        <div class="flex">
          <p class="text-base">Submitted Date: April 17, 2023</p>
        </div>
        <div class="flex">
          <div class="text-base">
            Status:
            <div class="badge rounded-lg badge-lg badge-error">Declined</div>
          </div>
        </div>
        <div class="flex">
          <div class="text-base">
            <div class="badge rounded-lg badge-lg badge-warning">
              Comments: 2
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-auto">
          <button class="btn btn-primary rounded-2xl">View Curriculum</button>
        </div>
      </div>
    </app-curriculum-card>
    <app-curriculum-card>
      <div class="flex flex-col p-8 gap-2">
        <div class="flex">
          <h1 class="text-2xl font-bold">
            Bachelor's of Science in Information Technology
          </h1>
        </div>
        <div class="flex">
          <p class="text-base">Submitted By: Rosemarie M. Bautista, DIT</p>
        </div>
        <div class="flex">
          <p class="text-base">Submitted Date: April 17, 2023</p>
        </div>
        <div class="flex">
          <div class="text-base">
            Status:
            <div class="badge rounded-lg badge-lg badge-success">Approved</div>
          </div>
        </div>
        <div class="flex">
          <div class="text-base">
            <div class="badge rounded-lg badge-lg badge-warning">
              Comments: 24
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-auto">
          <button class="btn btn-primary rounded-2xl">View Curriculum</button>
        </div>
      </div>
    </app-curriculum-card>
    <app-curriculum-card>
      <div class="flex flex-col p-8 gap-2">
        <div class="flex">
          <h1 class="text-2xl font-bold">
            Bachelor's of Science in Information Technology
          </h1>
        </div>
        <div class="flex">
          <p class="text-base">Submitted By: Rosemarie M. Bautista, DIT</p>
        </div>
        <div class="flex">
          <p class="text-base">Submitted Date: April 17, 2023</p>
        </div>
        <div class="flex">
          <div class="text-base">
            Status:
            <div class="badge rounded-lg badge-lg badge-success">Approved</div>
          </div>
        </div>
        <div class="flex">
          <div class="text-base">
            <div class="badge rounded-lg badge-lg badge-warning">
              Comments: 1
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-auto">
          <button class="btn btn-primary rounded-2xl">View Curriculum</button>
        </div>
      </div>
    </app-curriculum-card>
    <app-curriculum-card [cardMode]="'blueprint'" />
  </div>
</div>
