<div class="flex min-h-screen h-full items-center justify-center">
  <div class="flex rounded-lg shadow-lg">
    <div class="flex flex-col items-center justify-center p-20 space-y-4">
      <h1 class="text-2xl font-bold">
        Reset Password
      </h1>
      <form class="space-y-5" [formGroup]="form">
        <div class="form-control w-full max-w-md">
          <label class="label">
            <span class="label-text">
              Email Address
            </span>
          </label>
          <input type="email" class="input input-bordered" placeholder="Enter your email" formControlName="email">
        </div>
        <button type="submit" class="btn btn-neutral" (click)="onSubmit()">
          Send Password Reset Link
        </button>
      </form>
    </div>
  </div>
</div>
